<!-- <div class ="container">
    <div [hidden]="submitted">
        <h3 class="center-align">Multi Select/Multiple Choice Questions</h3>
            <div class= "mul-ques">
                <label>Enter your question</label>
                <input type="text"  [(ngModel)] ="model.ques" name="ques" #ques="ngModel" required>
                <div *ngIf="ques.invalid && ques.touched" class="error-message">Please enter question</div>
                <table>
                    <tr><label>Enter your answer</label></tr>
                    <tr>
                        <button (click)="addTable()">Add row</button>
                    </tr>
                    <tr *ngFor="let item of model.tabs; let i=index">
                        <td><input type="text" [(ngModel)] ="item.value" name="ans" #ans="ngModel" required></td>
                        <td><button (click)="deleteRow(i)">delete</button></td>
                        <div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div>
                    </tr>
                </table>
            </div>
            <button [disabled]="ques.invalid" (click)="onSubmit()">Save</button>
    </div>
    <div [hidden]="!submitted" cdkDropList (cdkDropListDropped)="drop($event)">
        <h1>{{model.ques}}</h1>
        <div *ngFor="let tab of model.tabs" cdkDrag>
            <button *ngIf="tab.value">{{tab.value}}</button>
        </div>
        <button (click)="submitted=false">Edit</button>
    </div>
</div> -->
<p>multi-select works!</p>