<div  class ="container">
    <div *ngIf="!submitted">
        <h3 class="center-align">Multi Select Questions</h3>
        <!-- <form #mulForm="ngForm"> -->
            <div class= "mul-qns">
                <div>
                    <label>Enter your question</label>
                    <input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                    <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
                </div>
                
                <div> 
                    <label>Enter your answer</label>
                    <table>
                        <tr *ngFor="let item of model.tabs; let i=index">
                            <td><input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="item.value" #ans="ngModel" name="value"  required></td>
                            <td><button (click)="deleteRow(i)" class="delete-tab glyphicon glyphicon-trash"></button></td>
                            <!-- <td><div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div></td> -->
                        </tr>
                    </table>
                    <button (click)="addTable()" class="add-tab glyphicon glyphicon-plus"></button>
                </div>
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
        <!-- </form> -->
    </div>
    <div *ngIf="submitted" cdkDropList (cdkDropListDropped)="drop($event)" (click)="edit();config.adminResponse=true">
        <h3 class="question font-bold" style="margin-left: 10px;">{{model.qns}}</h3>
        <div class="flex-display content-left line">
            <!-- <div *ngFor="let tab of model.tabs; let i=index;" cdkDrag>
                <button  *ngIf="tab.value" class="btn-tab bg-grey">{{tab.value}}</button>
            </div> -->
            <div *ngFor="let tab of model.tabs; let i=index;" cdkDrag>
                <button  *ngIf="tab.value" class="btn-tab bg-grey" (click)="selectOption(tab)"  
                [class.active]="tab.selected">{{tab.value}}</button>
            </div>
        </div>
        
        <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button>
    </div>
</div>
