.btn-tab {
    width: auto;
    margin: 10px;
    min-width: 150px
}
// .delete-tab {
//     margin-top:-20px;
//     margin-left: 10px;
//     // float: right;
//     background-color: #D1D7DA;
// }
table {
    width:100%;
}
// table input {
//     width:100%;
// }
table .error-message {
    float:right;
}
.add-tab {
    //  float:right;
     background-color: #D1D7DA;
}