.toolbar{
    border:2px solid black;
    text-align: center;
    margin: 15px 10%;
    height: 30px;
    background-color:black;
    width:100%; 
    max-width: -webkit-fill-available;     
}

.optus{
    color:#FDCC08;
    font-size:1rem;
    margin-top:5px;
    text-decoration: none;   
    font-family: markPro-Bold;
}

img{
    height:15px;
    width:70px;
}