<footer>
        <div class="footer-container">
          <br><br>
          <div class="container1">
            <div class="row">
              
                <div class="footer1">
                  <h5>MY OPTUS</h5>
                  <div class="items">
                    <ul class="first-items">
                      <li>
                        <a class="item" href="/customer-extras/mobile-apps/my-optus-app" aria-label="My Optus App" role="link" target="_blank">My Optus App</a>
                      </li>
                      <li>
                          <a class="item" href="/entertainment/hype" aria-label="Hype" role="link" target="_blank">Hype</a>
                      </li>
                      <li>
                          <a class="item" href="https://sport.optus.com.au" aria-label="Optus Sport" role="link" target="_blank">Optus Sport</a>
                      </li>
                      <li>
                          <a class="item" href="https://yescrowd.optus.com.au" aria-label="Yes Crowd" role="link" target="_blank">Yes Crowd</a>
                      </li>
                      <li>
                          <a class="item" href="/support" aria-label="Support" role="link" target="_blank">Support</a>
                      </li>
                    </ul>
                  </div>
                </div>
                         
                <div class="footer1">
                  <h5>OPTUS GUIDE</h5> 
                    <div class="items">
                      <ul class="first-items">
                        <li>
                          <a class="item" href="/about/legal/privacy-and-security" aria-label="Privacy, Security and Safety" role="link" target="_blank">Privacy, Security and Safety</a>
                        </li>
                        <li>
                            <a class="item" href="https://www.optus.com.au/about/legal#link/legal/0" aria-label="Standard Agreement" role="link" target="_blank">Standard Agreement</a>
                        </li>
                        <li>
                            <a class="item" href="https://www.optus.com.au/shop/cis" aria-label="Critical Information Summaries" role="link" target="_blank">Critical Information Summaries</a>
                        </li>
                        <li>
                            <a class="item" href="https://www.optus.com.au/for-you/support/answer?id=1456" aria-label="Deliveries &amp; Returns" role="link" target="_blank">Deliveries &amp; Returns</a>
                        </li>
                        <li>
                            <a class="item" href="/usageguides" aria-label="Optus Usage Guidelines" role="link" target="_blank">Optus Usage Guidelines</a>
                        </li>
                        <li>
                            <a class="item" href="/about/legal/copyright" aria-label="Copyright" role="link" target="_blank">Copyright</a>
                        </li>
                        <li>
                            <a class="item" href="/about/inclusion-diversity/differing-abilities/disability-services" aria-label="Accessibility" role="link" target="_blank">Accessibility</a>
                        </li>
                        <li>
                            <a class="item" href="https://www.optus.com.au/for-you/devicewarrtechinfo" aria-label="Device Warranties" role="link" target="_blank">Device Warranties</a>
                        </li>
                      </ul>
                    </div>
                </div>                          
                <div class="footer2">
                  <h5>FOLLOW US</h5>
                  <ul>
                    <li><a href="http://www.facebook.com" role="link" target="_blank"> <i class="fa fa-facebook"> </i></a>  </li>
                    <li><a href="http://twitter.com/Optus" role="link" target="_blank"> <i class="fa fa-twitter"> </i></a>  </li>
                    <li><a href="http://instagram.com/optus" role="link" target="_blank"> <i class="fa fa-instagram"> </i></a>  </li>
                    <li><a href="https://www.youtube.com/user/yesoptus" role="link" target="_blank"> <i class="fa fa-youtube"> </i></a>  </li>
                  </ul>
                </div>             
            </div>
            <br><br>
            <div class="row2">             
                  <ul class="inline-list">
                      <li>
                          <a class="item" href="https://www.optus.com.au/shop/stores" role="link" target="_blank">Store Locator</a>
                      </li>
                      <li>
                          <a class="item" href="https://www.optus.com.au/contactus" role="link" target="_blank">Contact Us</a>
                      </li>
                      <li>
                          <a class="item" href="https://www.singtel.com/about-us" role="link" target="_blank">About Singtel</a>
                      </li>
                      <li>
                          <a class="item" href="https://www.optus.com.au/for-you/support/feedback-and-complaints?sid=complaints:source:homepage" 
                            role="link" target="_blank">Feedback &amp; Complaints</a>
                      </li>
            </ul>                   
        <h4 class="size">© 2020 Singtel Optus Pty Limited</h4>             
      </div>      
    </div>         
  </div>
</footer>