<div class ="container">
  <div *ngIf="!submitted">
    <h3 class="center-align">Rating-Scale Question</h3>
        <div class= "mul-qns" >
            <div class="text-btns">
              <button (click)="model.ansType='star'"  [ngClass]="{'active':model.ansType==='star'}"  class="edit">Star Rating</button>
              <button (click)="model.ansType='number'" [ngClass]="{'active':model.ansType==='number'}" class="edit">Number Rating</button>
              <!-- <div *ngIf="model.ans==''" class="error-message">Please select answer type</div> -->
            </div>
          <br>
              <label>Enter your question  : </label>
              <input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
              <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
          </div>          
          <button [class.disabled]="qns.invalid || model.ansType=='' "  (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
        </div>
    <div *ngIf="submitted" (click)="edit();config.adminResponse=true">
          <h3 class="question font-bold">{{model.qns}}</h3>
          <div class="flex-display content-left">
            <div  style="margin-top: -35px;" >
              <ngx-star-rating [(ngModel)] ="model.ans" name="ans" #ans="ngModel" 
                [id]="'rating'" *ngIf="model.ansType=='star'" [class.disabled]="!this.config.userResponse">
              </ngx-star-rating >
            </div>
            <div *ngIf="model.ansType=='number'">
              <div class="left-label"><p>Least Likely</p></div>
              <div  class="flex-display content-left" >
                <!-- <p class="left-label">Least Likely</p> -->
                <div *ngFor= "let num of numbers" >
                  <button class="num-rate"   
                  (click)="selectOption(num)" [ngClass]="{'active':model.ans=== num}"
                  [class.disabled]="!this.config.userResponse">{{num}}</button>
                </div>
              </div>
              <div class="right-label"><p>Most Likely</p></div> 
            </div>
          </div>
      <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button>
    </div>
</div>
