.section {
    display: inline-flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .margin {
    margin: 4px;
    width: 70px;
  }

  //new code

  // .cont {
  //   //max-width: 513px; 
  //   text-align: center;
  //   /* margin: 1% auto; */
  //   color: #EEE;
  //   margin-top: -30px;
  //   /* min-width: 254px; */
  // }
  
  div.stars {
    width: auto !important;
    // width: 270px;
    // display: inline-block;
    display: flex;
    justify-content: center;
  }

.num-rate{
  background-color: #D1D7DA;
  width: 37px;
  /* min-width: 50px; */
  /* width: 52px; */
  padding: 5px;
  margin: 5px;
  margin-top: 24px;
}

.text-btns {
  float:right;
  //margin-left:-10px !important;
}
.text-btns button{
  margin:10px;
}

// button:hover{
//   background-color: #00a3ad;
// }

// button:active {
//   background-color:#03aab3 !important;
//   cursor: pointer;
// }

.left-label{
  position: absolute;
}

