.section {
    display: inline-flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .margin {
    margin: 4px;
    width: 70px;
  }

  //new code

  // .cont {
  //   //max-width: 513px; 
  //   text-align: center;
  //   /* margin: 1% auto; */
  //   color: #EEE;
  //   margin-top: -30px;
  //   /* min-width: 254px; */
  // }

.num-rate{
  background-color: #D1D7DA;
  width: 37px;
  /* min-width: 50px; */
  /* width: 52px; */
  padding: 5px;
  margin: 5px;
  margin-top: 14px;
}

.text-btns {
  float:right;
  padding: 5px;
  //margin-left:-10px !important;
}
// .text-btns button{
//   margin:10px;
// }

.left-label{
  margin-bottom: -25px;
}
.right-label{
  float: right;
  position: relative;
}

.edit{
  text-decoration:none;
    float:left;
    width:130px;
    // height:35px;
    background:none;
    border:2px solid rgb(204, 204, 211);
    // border-radius: 0px;
}

.edit.active{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgb(107, 216, 247);
  background-color: white !important;
}

#slider-label-left{
  text-align: left;
}
#slider-label-right{
  text-align: right;
}