<div class ="container">
    <!-- <div *ngIf="!submitted">
        <h3 class="center-align">Yes or No Question</h3>
       
            <div class= "mul-qns">
                <label>Enter your question</label>
                <input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
        
    </div> -->
    <!-- <input type="text" id="name" class="form-control" placeholder="Please enter question..."
    name="qns" #qns="ngModel" [(ngModel)] ="model.tab" required disabled>
    <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div> -->

   <div class="ans-box">
        <input type="text" name="qns" class="input-field ml-10" placeholder="Please enter question..."
        required (focusout)="editing=false" [(ngModel)] ="model.qns" #qns="ngModel" *ngIf="editing">
        <!-- <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div> -->
        <!-- <p *ngIf="!editing" (click)="singleClick()" class="question font-bold ml-10" style="margin-top:17px;">{{model.qns}}</p> -->
        <p  appSurveyEdit [editing]="true" class="question font-bold ml-10" style="margin-top:17px;">{{model.qns}}</p>
        <!-- <p *ngIf="!editing" (dblclick)="editing=true" class="question font-bold ml-10" style="margin-top:17px;">{{model.qns}}</p> -->
        <!-- <p appSurveyEdit>highlight me</p>
        <p appSurveyEdit editValue="pink">highlight me</p>
        <p (click)="color='green'">green</p>
        <p (click)="color='yellow'">yellow</p>
        <p appSurveyEdit [editValue]="'yellow'">highlight me on click</p> -->
        <div class="thumb flex-display content-left line">
            <div (click)="captureSentiment(model.tabYes)" [ngClass]="{'active':model.tabYes.selected===true}" class="bg-grey">
                <!-- <p class="glyphicon glyphicon-thumbs-up"></p> -->
                <input type="radio" id="yes"  [class.disabled]="!this.config.userResponse" class="radio-check" value="yes" [checked]="model.tabYes.selected===true">
                <input type="text" class="edit" (focusout)="editing=false" *ngIf="editing" [(ngModel)] ="model.tabYes.value">
                <span *ngIf="!editing" (click)="singleClick()" class="font-bold">{{model.tabYes.value}}</span>
                
            </div>
            <div (click)="captureSentiment(model.tabNo)" [ngClass]="{'active':model.tabNo.selected===true}" class="bg-grey">
                <!-- <p class="glyphicon glyphicon-thumbs-down"></p> -->
                <input type="radio" id="no"  [class.disabled]="!this.config.userResponse"  class="radio-check" value="no" [checked]="model.tabNo.selected===true">
                <input type="text"  class="edit" (focusout)="editing=false" *ngIf="editing" [(ngModel)] ="model.tabNo.value">
                <span *ngIf="!editing" (click)="singleClick()" class="font-bold">{{model.tabNo.value}}</span>
               
            </div>
        </div>        
        <br>
        <button  (click)="onSubmit();config.adminResponse=false"  *ngIf="!config.userResponse" class="save-tab">Save</button>
        <!-- <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button> -->
    </div>
</div>

