<div class ="container">
    <div *ngIf="!submitted">
        <h3 class="center-align">Yes or No Question</h3>
        <!-- <form #mulForm="ngForm"> -->
            <div class= "mul-qns">
                <label>Enter your question</label>
                <input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
        <!-- </form> -->
    </div>
    <div *ngIf="submitted" (click)="edit();config.adminResponse=true">
        <!-- <h3>{{model.qns}}</h3>
        <div class="thumb flex-display dynamic">
            <div class="bg-grey">
                <p class="glyphicon glyphicon-thumbs-up"></p>
                <p class="naming">Yes</p>
            </div>
            <div class="bg-grey">
                <p class="glyphicon glyphicon-thumbs-down"></p>
                <p class="naming">No</p>
            </div>
        </div> -->
        <h3>{{model.qns}}</h3>
        <div class="thumb flex-display dynamic">
            <div (click)="captureSentiment('like')" [ngClass]="{'active':model.tab==='like'}" class="bg-grey">
                <p class="glyphicon glyphicon-thumbs-up"></p>
                <p class="naming">Yes</p>
            </div>
            <div (click)="captureSentiment('dislike')" [ngClass]="{'active':model.tab==='dislike'}" class="bg-grey">
                <p class="glyphicon glyphicon-thumbs-down"></p>
                <p class="naming">No</p>
            </div>
        </div>       
        <br>
        <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button>
    </div>
</div>

