.edit {
  margin:0 !important;
  height:30px;
}
.thumb {
  text-align: center;
}
.thumb div {
  font-size: 20px;
  color:black;
  background-color: white;
  // border: 1px solid #00a3ad;
  height:50px;
  width:300px;
  margin:10px;
  padding: 10px;
  // padding-left:20px;
  cursor: pointer;
  display:flex;
  border-radius: 5px;
  // box-shadow: 1px 1px 4px #00a3ad;
  justify-content: flex-start;
  span {
    margin-left:10px !important;
  }
}
.thumb div.active{
  background-color:#00a3ad;
  cursor: pointer; 
  color:white;
}

input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  margin: 2px;
}

input[type=radio]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 20px;
  color: transparent !important;
  background: #fff;
  width: 20px;
  height: 20px;
  // border: 2px solid black;
  margin-right: 5px;
  border-radius: 50% !important;
  padding:1px;
}

input[type=radio]:checked:before {
  color:#00a3ad !important;
  // border-radius: 50% !important;
}

tr:nth-child(even){
  background-color: #D1D7DA;
}