<div class ="container">
    <div *ngIf="!submitted">
        <h3 class="center-align">Image Choice Questions</h3>
        <!-- <form #mulForm="ngForm"> -->
            <div class= "mul-qns">
                <div>
                    <label>Enter your question</label>
                    <input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                    <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
                </div>
                
                <div>
                    <label>Enter your answer</label>
                    <button (click)="addTable()" class="add-tab">Add</button>
                    
                    <table>
                        <tr *ngFor="let item of model.tabs; let i=index">
                            <td><input type="file" (change)="onFileChanged($event,i)" 
                                class="input-field" [(ngModel)] ="item.value" name="ans" #ans="ngModel" required></td>
                            <td><button (click)="deleteRow(i)" class="delete-tab">delete</button></td>
                            <td><div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=true" class="save-tab">Save</button>
        <!-- </form> -->
    </div>
    <div *ngIf="submitted" cdkDropList (cdkDropListDropped)="drop($event)">
        <h3>{{model.qns}}</h3>
        <div class="flex-display dynamic">
            <div *ngFor="let url of model.tabs; let i=index;" cdkDrag >
                <img *ngIf="url.value" (click)="url.selected =!url.selected;selectOption()"
                [src]="url.value" [class.active]="url.selected">
            </div>
            <!-- <div *ngFor="let url of urls; let i=index;" cdkDrag>
                <img [src]="url" height="50px" width="50px">
            </div> -->
        </div>
        
        <button (click)="submitted=false;config.adminResponse=false" *ngIf="!config.userResponse">Edit</button>
    </div>
</div>
