.btn-tab {
    //width: 200px;
    margin: 10px;
}
// .delete-tab {
//     margin-top:-20px;
//     margin-left: 10px;
//     // float:right;
//     background-color: #D1D7DA;
// }
table {
    width:100%;
}
// table input {
//     width:100%;
// }
table .error-message {
    float:right;
}
.add-tab {
    //  float:right;
     background-color: #D1D7DA;
}
img {
    height:100px;
    width:100px;
    margin:10px;
    padding:5px;
}
.img-tab {
    width:100%;
}
.file {
    visibility: hidden;
    position: absolute;
  }
.file-name {
    // margin-left:0px;
    width:100% !important;
}
.browse {
    // margin-right:20px;
    border:none;
}
// @media screen  and (max-width:767px) {
//     .img-tab {
//         width:100%;
//     }
// }
