.btn-tab {
    //width: 200px;
    margin: 10px;
}
.delete-tab {
    margin-top:-20px;
    margin-left: 10px;
}
table {
    width:100%;
}
// table input {
//     width:100%;
// }
table .error-message {
    float:right;
}
.add-tab {
     float:right;
}
img {
    height:100px;
    width:100px;
    padding:10px;
}