
textarea {
    resize:none;
    width:100%;
}
// .text-btns {
//     // float:right;
//     margin:10px 0;
//     margin-bottom:50px;
//     //margin-left:-10px !important;
// }
.text-btns{
    margin-top:10px;
}
.answer {
    float:left;
}
.open {
    width:100%;
}
.btn-tab {
    width: 100%;
    //margin: 10px;
}
.edit{
      text-decoration:none;
      float:left;
      width:130px;
      // height:35px;
      background:none;
      border:2px solid rgb(204, 204, 211);
      border-radius: 0px !important;
  }
  
.edit.active{
    box-shadow: 1px 1px 4px #00a3ad;
    border: 2px solid #00a3ad;
    background-color: white !important;
}