<div class ="container">
    <!-- <div *ngIf="!submitted">
        <h3 class="center-align">Matrix Questions</h3>
            <div class= "mul-qns">
                <div>
                    <label>Enter your question  : </label>
                    <input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                    <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
                </div>
                <div>
                    <label>Enter your answer</label>
                    <table>                  
                        <tr *ngFor="let item of model.tabs; let i=index">
                            <td><input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="item.value" name="value" #ans="ngModel" required></td>                        
                            <td><button (click)="deleteRow(i)" class="delete-tab glyphicon glyphicon-trash"></button></td>
                           
                        </tr>
                    </table>
                    <button (click)="addTable()" class="add-tab glyphicon glyphicon-plus"></button>

                </div>
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
    </div> -->
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="ans-box">
        <!-- <h3 class="question font-bold" style="margin-left: 10px;">{{model.qns}}</h3> -->
        <input type="text" name="qns" class="input-field ml-10" placeholder="Please enter question..."
        required (focusout)="editing=false" [(ngModel)] ="model.qns" #qns="ngModel" *ngIf="editing">
        <!-- <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div> -->
        <p *ngIf="!editing" (click)="singleClick()" class="question font-bold ml-10" style="margin-top:17px;">{{model.qns}}</p>
        <div class="flex-display content-left line">
            <table >
                <tr class="data font-bold">
                    <th></th>
                    <th>Very Good</th>
                    <th>Good</th>
                    <th>Fair</th>
                    <th>Poor</th>
                    <th>Very Poor</th>                  
                </tr>            
                <tr *ngFor="let tab of model.tabs;let i=index" cdkDrag [cdkDragDisabled]="config.userResponse">
                    <th>
                        <div>
                            <!-- <input type="text" [readonly]="this.config.userResponse" placeholder="Please enter option..." 
                            class="input-field editable btn-tab" [(ngModel)] ="tab.value" #ans="ngModel" name="value"  required> -->
                            <input type="text" name="tab" class="input-field ml-10" placeholder="Option"
                            required (focusout)="editing=false" [(ngModel)] ="tab.value" #tab.value="ngModel" *ngIf="editing">
                            <button  class="btn-tab bg-grey" *ngIf="!editing" (click)="singleClick()">{{tab.value}}</button>
                            <!-- <button class="btn-tab bg-grey">{{tab.value}}</button>  -->
                        </div>
                    </th>  
                    <th *ngFor="let state of status">
                        <input type="radio" id="opt1+{{tab.id}}" class="radio-check" [(ngModel)]="tab.status" style="margin-top:10px;"
                        value="{{state}}" name="option+{{tab.id}}" [checked]="tab.status" [class.disabled]="!this.config.userResponse"> 
                    </th> 
                    <button (click)="deleteRow(i)" *ngIf="!config.userResponse" class="delete-tab"><i class="fa fa-trash-o"></i></button>             
                </tr>
            </table>
        </div>
        <button (click)="addTable()"  *ngIf="!config.userResponse" class="add-tab"><i class="fa fa-plus"></i></button>
        <button  (click)="onSubmit();config.adminResponse=false"  *ngIf="!config.userResponse" class="save-tab">Save</button>
        <!-- <button (click)="edit();;config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button> -->
    </div>
</div>
