.content {
    display: flex;
    margin: 25px 20%;
    flex-direction: column;
    align-items: center;
}
.btns button {
    height:40px;
    width:200px;
    margin: 15px;
    background-color:#00a3ad;
}
.list {
    //max-width:100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}
.box button {
    margin-top:10px;
}
.box {
    padding: 20px 10px;
    border-bottom: solid 1px #E3E9EC;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
}
.box div {
    position:relative;
}
.box i{
    cursor: move;
}
.box i.disable {
    position: absolute;
    cursor: not-allowed !important;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}