<app-header></app-header>
<!-- <h1 class="center-align">Survey Home</h1> -->  
<!-- <div class="flex-col content survey-top bg-white" *ngIf="!config.userResponse">
    <div class="survey-name">
        <input type="text" placeholder="Enter Survey Name" class="input-field survey-title font-bold" value={{config.survey.title}}
        [(ngModel)] ="config.survey.title" name="title" #title="ngModel" required>
        <div *ngIf="title.invalid && title.touched" class="error-message">Please enter survey title.</div>
    </div>
    <div class="survey-desc">
        <input  type="text" placeholder="Enter Survey Descrption" class=" input-field survey-descrption font-bold" value={{config.survey.description}}
        [(ngModel)] ="config.survey.description" name="description" #description="ngModel" required>
        <div *ngIf="description.invalid && description.touched" class="error-message">Please enter survey description.</div>
    </div>
</div> -->
<h3 class="center-align" *ngIf="config.userResponse">{{config.survey.title}}</h3>
<div class="content">
    <div class="comps" *ngIf="!config.userResponse">
        <div *ngFor="let qns of qnsType" class="btns">
            <button (click)="loadComponent(qns.name)">
                <span class={{qns.icon}}></span>
                {{qns.comp}}
            </button>
        </div>
    </div>
    <div class="comps2" [ngClass]="{'new': config.userResponse==true}">
        <div class="flex-col" *ngIf="!config.userResponse">
            <div class="survey-name">
                <input type="text" placeholder="Untitled Survey" class="input-field survey-title" value={{config.survey.title}}
                [(ngModel)] ="config.survey.title" name="title" #title="ngModel" required>
                <div *ngIf="title.invalid && title.touched" class="error-message">Please enter survey title.</div>
            </div>
            <div class="survey-desc">
                <input  type="text"  maxLength="50" placeholder="Untitled Survey Descrption" class="input-field survey-description font-bold" value={{config.survey.description}}
                [(ngModel)] ="config.survey.description" name="description" #description="ngModel" required>
                <div *ngIf="description.invalid && description.touched" class="error-message">Please enter survey description.</div>
            </div>
        </div>
        <!-- <div cdkDropList class="list">
            <div class="box bg-white">
                <ng-container #appDynamic class="each"></ng-container>
            </div>
        </div> -->
        <div cdkDropList class="list" (cdkDropListDropped)="drop($event)" [cdkDropListData]="components">
           
            <div *ngFor="let cmp of components | paginate : {id: 'listOfRecords',itemsPerPage:2, currentPage: page, totalItems: totalRecords}; let i=index" class="box bg-white" cdkDrag [cdkDragDisabled]="config.userResponse">
                <div *ngIf="cmp.componentType.name=='YesNoComponent'" class="each">
                    <button  data-toggle="modal" (click)="deleteIndex=i" data-target="#myModal" *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}.</p>
                    <app-yes-no></app-yes-no>
    
                </div>
                <div *ngIf="cmp.componentType.name=='RankingComponent'" class="each">

                    <button data-toggle="modal"  (click)="deleteIndex=i" data-target="#myModal" *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-ranking></app-ranking>
            
                </div>
                <div *ngIf="cmp.componentType.name=='RatingScaleComponent'" class="each">

                    <button data-toggle="modal" (click)="deleteIndex=i" data-target="#myModal" *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-rating-scale></app-rating-scale>
            
                   
                </div>
                <div *ngIf="cmp.componentType.name=='MultiSelectComponent'" class="each">

                    <button data-toggle="modal" (click)="deleteIndex=i" data-target="#myModal"  *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                   <app-multi-select></app-multi-select>
            
                    
                </div>
                <div *ngIf="cmp.componentType.name=='MatrixComponent'" class="each">

                    <button data-toggle="modal" (click)="deleteIndex=i" data-target="#myModal"  *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-matrix></app-matrix>
                    
                    
                </div>
                <div *ngIf="cmp.componentType.name=='MixedTypeComponent'" class="each">

                    <button data-toggle="modal"  (click)="deleteIndex=i" data-target="#myModal" *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-mixed-type></app-mixed-type>
                    
                </div>
                <div *ngIf="cmp.componentType.name=='ImageChoiceComponent'" class="each">

                    <button data-toggle="modal"  (click)="deleteIndex=i" data-target="#myModal" *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button>
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-image-choice></app-image-choice>
                   
                </div>
                <div *ngIf="cmp.componentType.name=='OpenEndedComponent'" class="each">

                    <button data-toggle="modal" (click)="deleteIndex=i" data-target="#myModal"  *ngIf="!config.userResponse" title="delete question" class="del-cmp"><i class="fa fa-remove"></i></button> 
                    <p class="question font-bold">{{i+1}}. </p>
                    <app-open-ended></app-open-ended>
                    
                   
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header mod-head">
                              <h4 class="modal-title">Delete Question</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              You are deleting a question. Are you sure?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-deafult closed" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-default yes-delete" data-dismiss="modal"(click)="deleteComponent(deleteIndex)">Yes, Delete</button>
                            </div>
                      </div>
                    </div>
                  </div>
            </div> 
        </div>
        <div *ngIf="components.length>=2" class="flex-display container" style="justify-content: flex-end;">

            <pagination-controls  id="listOfRecords" maxsize = "5" (pageChange)="page = $event"></pagination-controls>
        </div>
        <div class="send" *ngIf="!config.userResponse">
            <div *ngIf="config.allValues.length!=components.length && components.length>0"  class="error-message">Please fill all selected questionarie!!!</div>
            <button [class.disabled]="(config.allValues.length!=components.length && components.length>0) || config.adminResponse || config.survey.title=='' || config.survey.description==''" 
                id="listOfRecords" (click)="onSave()"  *ngIf="components.length>0">Submit</button>
        </div>
        <div class="send" *ngIf="config.userResponse" >
            <button routerLink="/thank" *ngIf="config.survey.list.length>0" (click)="onSubmit()" id="listOfRecords">Done</button>
            <!-- <button routerLink="/thank" [class.disabled]="(config.allValues.length!=config.survey.list.length && config.survey.list.length>0) || config.userResponse" *ngIf="config.survey.list.length>0" (click)="onSubmit()">Done</button> -->
        </div>
    </div>
    

    <!-- <form [formGroup]="masterForm" (ngSubmit)="onSave()"> -->
    
    <!-- </form> -->
    <!-- masterForm = {{ masterForm.value | json }} -->
    <!-- [class.disabled]="config.allValues.length!=components.length || config.adminResponse==false"  -->
</div>
<!-- <div *ngIf="components.length>=2" class="flex-display container" style="justify-content: flex-end;">

    <pagination-controls  id="listOfRecords" maxsize = "5" (pageChange)="page = $event"></pagination-controls>
</div> -->
<!-- <div *ngIf="components.length>=2" class="flex-display container" style="justify-content: flex-end;">
    <button type="button" class="btn btn-default btn-sm repeater-prev page-end" disabled="disabled" style="height: 25px; width: 35px;">
       <span class="glyphicon glyphicon-chevron-left" style="top: 0! important;"></span>
       <span class="sr-only">Previous Page</span>
    </button>
    <label class="page-label" id="myPageLabel" style="margin: 0.5rem;">Page</label>
    <input type="text" class="form-control repeater-secondaryPaging" aria-labelledby="myPageLabel" value=1 style="margin:0! important; background-color: none! important; width: 35px; height: 25px;">
    <span style="margin: 0.5rem; font-family: 'MarkPro-Bold';">of<span class="repeater-pages" style="margin: 0.5rem; font-family: 'MarkPro-Bold';">{{totalPages}}</span></span>
    <button type="button" class="btn btn-default btn-sm repeater-next" style="height: 25px; width: 35px;">
        <span class="glyphicon glyphicon-chevron-right" style="top: 0! important;"></span>
        <span class="sr-only">Next Page</span>
    </button>
</div> -->
 

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button> -->

<!-- Modal -->

                    <!-- <div><i *ngIf="!cmp.isDisable" class="disable">reorder</i>
                         <i  cdkDragHandle class="">reorder</i>
                    </div>
                    <input type="checkbox" (change)="cmp.isDisable=!cmp.isDisable"> -->
<app-footer></app-footer>