<app-header></app-header>
<h1 class="center-align" *ngIf="!config.userResponse">Survey Home</h1>
<h1 class="center-align" *ngIf="config.userResponse">Customer Feedback</h1>
<div class="content">
    <div class="comps flex-display dynamic" *ngIf="!config.userResponse">
        <div *ngFor="let qns of qnsType" class="btns">
            <button (click)="loadComponent(qns.name)">{{qns.comp}}</button>
        </div>
    </div>
    <div class="comps2" *ngIf="components.length>0">
        <div cdkDropList class="list bg-white" (cdkDropListDropped)="drop($event)" [cdkDropListData]="components">
            <!-- <ng-container #appDynamic></ng-container> -->
            <div *ngFor="let cmp of components; let i=index" class="box" cdkDrag [cdkDragDisabled]="config.userResponse">
                <div *ngIf="cmp.componentType.name=='YesNoComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-yes-no></app-yes-no>
    
                    <!-- <div><i *ngIf="!cmp.isDisable" class="disable">reorder</i>
                         <i  cdkDragHandle class="">reorder</i>
                    </div>
                    <input type="checkbox" (change)="cmp.isDisable=!cmp.isDisable"> -->
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='RankingComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-ranking></app-ranking>
                
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='RatingScaleComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-rating-scale></app-rating-scale>
            
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='MultiSelectComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-multi-select></app-multi-select>
            
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='MatrixComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-matrix></app-matrix>
                    
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='MixedTypeComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-mixed-type></app-mixed-type>
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='ImageChoiceComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-image-choice></app-image-choice>
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
                <div *ngIf="cmp.componentType.name=='OpenEndedComponent'">
                    <p style="margin-bottom:-20px;">{{i+1}}</p>
                    <app-open-ended></app-open-ended>
                    
                    <button (click)="deleteComponent(i)" *ngIf="!config.userResponse">Delete Component</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <form [formGroup]="masterForm" (ngSubmit)="onSave()"> -->
    
    <!-- </form> -->
    <!-- masterForm = {{ masterForm.value | json }} -->
</div>
<div class=" flex-display dynamic">
    <button (click)="onSave()" [class.disabled]="config.allValues.length!=components.length || config.adminResponse==false" 
    *ngIf="components.length>0 && !config.userResponse">Submit</button>
    <button routerLink="/thank" *ngIf="components.length>0 && config.userResponse">Done</button>
</div>
<app-footer></app-footer>