<div class ="container">
    <!-- <div *ngIf="!submitted">
        <h3 class="center-align">Mixed-Type Questions</h3>
        <div class= "mul-qns">
            <div>
                <label>Enter your question  : </label>
                <input type="text" placeholder="Please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
            </div>
        </div>
        <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
    </div> -->
    <div class="ans-box">
        <!-- <h3 class="question font-bold" style="margin-left: 10px;">{{model.qns}}</h3> -->
        <!-- <input type="text" [readonly]="this.config.userResponse" placeholder="Please enter question..." class="input-field editable" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required> -->
        <!-- <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div> -->
        <input type="text" name="qns" class="input-field ml-10" placeholder="Please enter question..."
        required [(ngModel)] ="model.qns" #qns="ngModel" *ngIf="editing">
        <!-- <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div> -->
        <p *ngIf="!editing" appSurveyEdit (editSurvey)="editing=$event" class="question font-bold ml-10" style="margin-top:17px;">{{model.qns}}</p>
        <div class="flex-display content-left line">
            <div *ngFor= "let num of options" class="mixed">
                <input class="btn-tab-mix radio-check" type="radio" (click)="selectOption(num)" [ngClass]="{'active':model.tab=== num}"
                [class.disabled]="!this.config.userResponse" name="model.tab">{{num}}
            </div>                
        </div>   
        <div class="ml-10">
            <label >Any Comments ? </label>
            <br>
            <textarea rows="3" [class.disabled]="!config.userResponse"[(ngModel)] ="model.ans" name="ans" #ans="ngModel"  style="width:100%"></textarea> 
            <!-- <input type="text" [(ngModel)] ="model.ans" name="ans" #ans="ngModel" placeholder="Please type here..." [class.disabled]="!this.config.userResponse">                     -->
            <div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div>
        </div>
        <button  (click)="onSubmit();config.adminResponse=false;editing=false"  *ngIf="!config.userResponse" class="save-tab">Save</button>
        <!-- <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button> -->
    </div>
      
</div>
<!-- <div class="mixed font-bold  line">
            <div class="mixed-type flex-display dynamic">
                <div *ngFor="let tab of model.tabs; let i=index;" cdkDrag>
                    <input type="radio" class="btn-tab btn"  role="button"
                    [(ngModel)]="tab.selected" (click)="selectOption(tab)"                 
                    [class.active]="tab.selected"
                    [class.disabled]="!this.config.userResponse">{{tab.value}}
                </div>
            </div>
            <div class="comment">
                <label class="comment1 font-bold">Any Comments ? </label> 
                 <input class="input1" type="text" [(ngModel)] ="model.ans" name="ans" #ans="ngModel" placeholder="please type here..." required>
                <div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div>
            </div>
        </div> -->
<!-- <div>
                <label>Enter your answer</label>
                <table>
                    <tr *ngFor="let item of model.tabs; let i=index">
                        <td><input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="item.value" name="value" #ans="ngModel" required></td>                           
                        <td><button (click)="deleteRow(i)" class="delete-tab glyphicon glyphicon-trash"></button></td>
                        <!-- <td><div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div></td> -->
                    <!-- </tr>
                </table>
                <button (click)="addTable()" class="add-tab glyphicon glyphicon-plus"></button>
            </div>  -->