
.mixed-type{
  width: auto;
  justify-content: space-evenly;
}

table {
  width:100%;
}

table .error-message {
  float:right;
}
.add-tab {
  //  float:right;
   background-color: #D1D7DA;
}
.mixed{
  margin-right: 20px;
  margin-top:10px;
}
.comment1{  
    margin-top: 15px !important;
    margin-right: 10px;
  }

.comment{
  //min-width: fit-content; 
    /* font-weight: 500; */
    // height: 40px;
    font-size: 16px;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    //margin: 10px;
    margin-top: 24px;
}

.btn-tab-mix {
  width: auto;
  margin: 5px;
  min-width: 25px;
  // border: 2px solid #00a3ad;
  box-shadow: 0px 0px 0px white;
}

input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  margin: 2px;
}

input[type=radio]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: transparent !important;
  background: #D1D7DA;
  width: 20px;
  height: 20px;
  // border: 1px solid #888A8C; 
  border-radius: 20%;
    padding: 2px;
  // border: 2px solid black;
  // margin-right: 5px;
  // border-radius: 50% !important;
  // padding:1px;
}

input[type=radio]:checked:before {
  color:#00a3ad !important;
  // border-radius: 50% !important;
}
.btn-tab-mix.active{
  background-color: white !important;
}
