.delete-tab {
  margin-top:-20px;
  margin-left: 10px;
}
table {
  width:100%;
}

table .error-message {
  float:right;
}
.add-tab {
   float:right;
}
   .drag-icon {
    position: relative;
    background-color: #00a3ad;
    color: #fff;
    text-align: center;
    padding: 8px 15px;
    margin: 0px 20px;
  }
  .drag-icon i {
    cursor: move;
  }
  i.disable{
    position: absolute;
    cursor: not-allowed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
  }

  .drag-index {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;    
}

.example-box {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  background: white;
  font-size: 14px;
  width: 60%;
  margin-left: 125px;
  margin-bottom: 15px;   
}

.sort{
  color: #acafb2;
  height: 30px;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  font-size: 15px !important;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  font-family: 'MarkPro';
  font-size: 10px;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  width: 40px;
}