.delete-tab {
  margin-top:-20px;
  margin-left: 10px;
}
table {
  width:100%;
}

table .error-message {
  float:right;
}
.add-tab {
   float:right;
}
   .drag-icon {
    position: relative;
    background-color: #00a3ad;
    color: #fff;
    text-align: center;
    padding: 8px 15px;
    margin: 0px 20px;
  }
  .drag-icon i {
    cursor: move;
  }
  i.disable{
    position: absolute;
    cursor: not-allowed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
  }

  .drag-index {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;    
}
  .example-box {
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    background: white;
    font-size: 14px;
    margin: 10px;
    width: 40%;    
  }