<div class ="container">
    <div *ngIf="!submitted">
        <h3 class="center-align">Ranking Questions</h3>
            <div class= "mul-qns">
                <div>
                    <label>Enter your question  : </label>
                    <input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="model.qns" name="qns" #qns="ngModel" required>
                    <div *ngIf="qns.invalid && qns.touched" class="error-message">Please enter question</div>
                </div>
                <div>
                    <label>Enter your answer</label>
                    <table>                                       
                        <tr *ngFor="let item of model.tabs; let i=index">
                            <td><input type="text" placeholder="please type here..." class="input-field" [(ngModel)] ="item.value" name="value" #ans="ngModel" required></td>                                                   
                            <td><button (click)="deleteRow(i)" class="delete-tab glyphicon glyphicon-trash"></button></td>
                            <!-- <td><div *ngIf="ans.invalid && ans.touched" class="error-message">Please enter answer</div></td> -->
                        </tr>
                      </table>
                      <button (click)="addTable()" class="add-tab glyphicon glyphicon-plus"></button>
                </div>                
            </div>
            <button [class.disabled]="qns.invalid" (click)="onSubmit();config.adminResponse=false" class="save-tab">Save</button>
    </div>
    <div *ngIf="submitted" (click)="edit();config.adminResponse=true" cdkDropList (cdkDropListDropped)="drop($event)">
        <h3 class="question font-bold">{{model.qns}}</h3>
        <div class="center-align line">
            <div class="example-box bg-grey" *ngFor="let mul of model.tabs; let i=index" cdkDrag cdkDragHandle>
                <div class="dot">&#xFE19;</div>
                <div class="dot">&#xFE19;</div>
                <!-- <div class="drag-index"> -->
                    <!-- <select>
                        <option *ngFor="let mul of model.tabs" [value]="mul.id">{{i+1}}</option>
                    </select> -->
                    <!-- <div class="sort">{{i+1}}</div> -->
                <!-- </div> -->
                <!-- <div class="w-20 drag-icon" > -->
                    <!-- <i *ngIf="tabs.isDisable" class="material-icons disable">reorder</i> -->
                    <!-- <i  class="material-icons" >reorder</i> -->
                <!-- </div> -->
                <div class="values" >
                    <span *ngIf="mul.value">{{mul.value}}</span>
                </div>
                <div class="drag-index">
                    <div class="sort font-bold">{{i+1}}</div>
                </div>
            </div>
        </div>
        <button (click)="edit();config.adminResponse=true" *ngIf="!config.userResponse" class="edit-tab">Edit</button>
    </div>
</div>
