<div class="content bg-white">
    <div class="top-content">
        <!-- <app-header></app-header> -->
        <div class="heading center-align">
            <span class="white-text">Share your</span><br><span class="yellow-text">recent experience</span>
        </div>
    </div>

    <div class="bottom-content dflt-padding flex-display">
        <div class="left dflt-padding">
            <h1 style="margin-top:0;">Share your feedback</h1>
            <div class="incentive flex-display">
                <div class="font-bold center-align">Duration: 1 min</div>
                <div class="font-bold center-align">Question: 4</div>
            </div>
            <div class="margin-top-bottom">
                <p>Hey <span class="blue-text font-bold">{{firstName}},</span></p>
                <p>I value your feedback, particulary with how we went managing your case</p>
                <p>I am always looking forward to improve our customer experience to better serve you in the future</p>
                <p><span>Thank you,</span><br>
                    <span>John</span><br>
                    <span>Optus senior Expert</span>
                </p>
            </div>
            <div>
                <button class="font-bold">Start</button>
            </div>
        </div>
        <div class="right dflt-padding">
            <img src="../../assets/images/girl-laptop.jpg">
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->