/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f1f4f6 !important;
    font-family: MarkPro;
    color:black;
}
.bg-white {
    background-color: white !important;
    box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
    border-bottom: 1px solid #ddd;
}
.bg-grey {
    background-color: #D1D7DA !important;
}
.dflt-padding {
    padding: 3%;
}
.font-bold {
    font-family: MarkPro-Bold;
}
.white-text {
    color:#FFFFFF;
}
.yellow-text {
    color: #FDCC08;
}
.blue-text {
    color: #00A3AD;
}
.center-align {
    text-align: center;
}
button {
    background-color: #FDCC08;
    border: none;
    outline: none;
    cursor: pointer;
    height:38px;
    padding: 10px;
    border-radius: 4px;
    font-family: markPro-Bold;
}
.flex-display {
    display:flex;
    flex-direction: row;
}
.dynamic {
    flex-wrap: wrap;
    justify-content: center;
}
label {
    margin-top: 24px !important;
    margin-right:10px;
    font-family: markPro-Light;
}
select,input[type="text"], input[type="phone"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"] {
    color: #acafb2;
    margin-bottom: 10px !important;
    height: 38px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    font-size: 14px !important;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    font-family: inherit;
    font-size: .875rem;
    line-height: normal;
    padding: .5rem;
    border-radius: 0;
    width:100%;
}
.active {
    background-color:#00a3ad !important;
    cursor: pointer;
}
.input-field {
    padding: 10px;
    outline: none;
}  
.input-field:focus {
    border: 1px solid rgb(105, 103, 103);
}
.input-field.ng-invalid.ng-touched {
    border: 1px solid red
}
.error-message {
    margin-top: 8px;
    color: red;
}
.disabled {
    opacity: 0.5;
}