<!-- <app-header></app-header> -->
<div class="users">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" *ngIf="!closedSurvey">
        <div class="modal-header mod-head">
          <h4 class="modal-title">Create a survey</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <label>Survey title</label>
          <input type="text" placeholder="Enter Survey title" class="input-field" 
          [(ngModel)] ="config.survey.title"  name="title" #title="ngModel" required>
          <div *ngIf="title.invalid && title.touched" class="error-message">Please enter title of the survey.</div>
          <label>Survey description</label>
          <input type="text" placeholder="Enter Survey Descrption" class="input-field"
          [(ngModel)] ="config.survey.description" name="description" #description="ngModel" required>
          <div *ngIf="description.invalid && description.touched" class="error-message">Please enter survey description.</div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" [class.disabled]="title.invalid" data-dismiss="modal"
           routerLink="/qns" *ngIf="!copySurvey">Create Survey</button> -->
           <button type="button" class="btn btn-default" [class.disabled]="title.invalid || description.invalid"
            data-dismiss="modal" (click)="updateTitle()">Duplicate Survey</button>
        </div>

        
      </div> 
     <!--  <div class="modal-content" *ngIf="closedSurvey">
          <div style="background-color:#c3c4c2;">
            <button type="button" class="close" data-dismiss="modal" style="margin-right: 10px;">x</button>
          </div>
          <div class="modal-body">                
            <label>Deleted</label>
            <p>Survey is deleted successfully!</p>                
          </div>
        </div> -->
      
    </div>
  </div>

  <div class="lists bg-white">
    <div class="flex-display">
      <div class="col-xl-6 col-sm-12" style="width:50%">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search survey" [(ngModel)]="searchText" style="border-radius: 5px;margin-top:0px !important;border-top-right-radius: 0; border-bottom-right-radius: 0;">
          <div class="input-group-append" >
            <button class="btn btn-secondary" style="background-color: #00a3ad !important;border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-12 new-survey" style="width:50%">
         <!-- <button type="button"  class="font-bold" data-toggle="modal" data-target="#myModal" (click)="closedSurvey=false;copySurvey=false;config.survey.title=''" >
            <span class="glyphicon glyphicon-plus" ></span> New Survey</button> -->
          <button type="button" class="font-bold" routerLink="/qns" (click)="reset()" style="float: right; width: fit-content;"><i class="fa fa-plus" ></i> New Survey</button>
      </div>
    </div>
    <div class="survey-list">
      <div *ngFor="let user of config.allComps | filter:searchText; let i=index;" class="usersList">
        <!-- <div>{{user | json}}</div> -->
        <!-- <div (click)="default=false;viewDetail(i);" class="">{{user.title}}</div> -->
    
        <!-- <p>Questions: <b>{{user.list.length}}</b></p> -->
        <div class="container-fluid">
            <div class="row datas">
              <div class="col-xl-12 col-sm-12 col-12" style="padding-right: 15px !important; padding-left: 15px !important;"> 
                <div class="card" style="border-radius: 5px;">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex views" *ngIf="!closedSurvey || this.selectedIndex != i">
                        <div class="view1">

                          <div (click)="viewDetail(i);" class="align-self-center font-bold">{{user.title}}</div>
                          <div class="desc align-self-center" contenteditable="true">{{user.description}}</div>   

                        </div>                         
                      
                        <!-- <div class="align-self-center view2">
                          <i class="icon-pencil primary font-large-2 float-left"></i>
                        </div> -->
                        <div class="view2 flex-display">
                          <div class="text-right align-self-center view3">
                            <p class="font-bold">{{user.list.length}}</p>
                            <span>Questions</span>
                          </div>
                
                          <div class="align-self-center view4">
                            <div>
                              <i class="fa fa-ellipsis-v dropdown" href="" dropdown-toggle="dropdown" role="button" 
                              id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                    
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <!-- <li><a class="dropdown-item" href="#">Edit survey</a></li> -->
                                <li><a class="dropdown-item"  data-toggle="modal" data-target="#myModal" (click)="closedSurvey=false;duplicateSurvey(i)">duplicate</a></li>
                                <li><a ng-model="clicked" class="dropdown-item" *ngIf="!(i==0)" data-target="#myModal" (click)="this.closedSurvey=true;deleteSurvey(i)">delete</a></li>
                              </ul>
                          </div>
                          </div>

                        </div>
                      </div>

                      <div *ngIf="closedSurvey && this.selectedIndex==i">                        
                          <div class="align-self-center" style="text-align: center;">                          
                            You are deleting a Survey. Are you sure?
                          </div>
                          <div class="modal-footer" style="justify-content: space-around !important;">
                            <button type="button" class="btn btn-deafult closed" data-dismiss="modal" style="border-color: black;">Cancel</button>
                            <button type="button" class="btn btn-default okButton" data-dismiss="modal" (click)="deleteSurvey(i)" style="border-color: black;">Yes, Delete</button>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
